extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Box Modules"

block content

  h1!= pageTitle

  .grid-container
    .grid-x.grid-padding-x
      .cell.large-8.medium-7(data-aos="fade-right", data-attribute="ebook")
        .card.bd0.flex-container.h100
          .relative.py4.medium-py5.overflow-hidden
            picture.absolute.pos-top.object-fit-cover
              source(media="(max-width: 599px)", data-srcset="images/case-study-insurance-mobile.webp, images/case-study-insurance-mobile.jpg", type="image/webp", srcset="images/case-study-insurance-mobile.webp, images/case-study-insurance-mobile.jpg")
              source(media="(min-width: 600px) and (max-width: 1023px)", data-srcset="images/case-study-insurance-desktop.webp, images/case-study-insurance-desktop.jpg", type="image/webp", srcset="images/case-study-insurance-desktop.webp, images/case-study-insurance-desktop.jpg")
              source(data-srcset="images/case-study-insurance-desktop.webp", type="image/webp", srcset="images/case-study-insurance-desktop.webp")
              source(data-srcset="images/case-study-insurance-desktop.jpg", type="image/jpg", srcset="images/case-study-insurance-desktop.jpg")
              img.wh100.lazyload.object-fit-cover(width="780", height="185", data-src="images/case-study-insurance-desktop.jpg", alt="From Data to ROI ebook", title="From Data to ROI ebook", src="images/case-study-insurance-desktop.jpg")
          .flex-container.align-middle.px1.pt1.pb-half
            //- img.mr-half.lazyloaded(style="height:24px", data-sizes="24px", data-src="images/icon-insurance.svg", width="24", height="24", alt="From Data to ROI ebook", title="From Data to ROI ebook", sizes="24px", src="images/icon-insurance.svg")
            p.text-gray.small.mb0.text-bold FROM DATA TO ROI EBOOK
          .card-section
            h5 How to generate ROI from AI-powered data
            p
              | Learn where to invest, how much to spend and what returns you can expect. This report explores what 1,200 businesses are doing to make better, faster decisions with AI-powered data to accelerate their business outcomes.
          .card-divider
            a.button.primary-medium.arrow(title="Read the E-book", target="_blank", href="https://www.cognizant.com/whitepapers/ai-from-data-to-roi-codex5984.pdf") READ THE E-BOOK
      .cell.large-4.medium-5(data-aos="fade-left", data-attribute="caseStudy")
        .card.bd0.flex-container.h100
          .relative.py4.medium-py5.overflow-hidden
            picture.absolute.pos-top.object-fit-cover
              source(media="(max-width: 599px)", data-srcset="images/case-study-tile-tgs.webp, images/case-study-tile-tgs.jpg", type="image/webp", srcset="images/case-study-tile-tgs.webp, images/case-study-tile-tgs.jpg")
              source(media="(min-width: 600px) and (max-width: 1023px)", data-srcset="images/case-study-tile-tgs.webp, images/case-study-tile-tgs.jpg", type="image/webp", srcset="images/case-study-tile-tgs.webp, images/case-study-tile-tgs.jpg")
              source(data-srcset="images/case-study-tile-tgs.webp", type="image/webp", srcset="images/case-study-tile-tgs.webp")
              source(data-srcset="images/case-study-tile-tgs.jpg", type="image/jpg", srcset="images/case-study-tile-tgs.jpg")
              img.wh100.lazyload.object-fit-cover(width="380", height="185", data-src="images/case-study-tile-tgs.jpg", alt="Oil & Gas", title="Oil & Gas", src="images/case-study-tile-tgs.jpg")
          .flex-container.align-middle.px1.pt1.pb-half
            //- img.mr-half.lazyloaded(style="height:24px", data-sizes="24px", data-src="images/icon-gas.svg", width="24", height="24", alt="Oil & Gas", title="Oil & Gas", sizes="24px", src="images/icon-gas.svg")
            p.text-gray.small.mb0.text-bold TGS CASE STUDY
          .card-section
            h5 TGS makes a seismic transformation to faster, better insights
            p
              | TGS, a leading provider of sub-surface oil and gas data, uses Cognizant&apos;s Big Decisions platform to provide its energy clients with crucial drilling insights in hours instead of days or weeks.
          .card-divider
            a.button.primary-medium.arrow(data-open="TGSVideo", title="WATCH NOW", aria-controls="TGSVideo", aria-haspopup="true", tabindex="0")  WATCH NOW

  mixin boxprimary
    .card.gradient-overlay-primary-full(style="background: url(https://source.unsplash.com/R3pUGn5YiTg) no-repeat; background-size: cover;")
      .card-section.pt2.medium-pt5.z1
        h6.m0 The Work Ahead
        p(contenteditable=true) Gain insights to master today’s, and tomorrow’s, digital economy.
      .card-divider.bg-transparent.pt0.text-right.z1
        hr.mt0.mb1.opacity-50.white
        .grid-x.grid-padding-x.expanded.align-middle
          .cell.flex-container.align-right
            h5.anim-icon
              a.text-normal.text-green(href="#")
                i.arrow-solid-right.fw600
                .anim-text View
  mixin boxWhite
    .card.gradient-overlay-white-full(style="background: url(https://source.unsplash.com/R3pUGn5YiTg) no-repeat; background-size: cover;")
      .card-section.pt2.medium-pt5.z1
        h6.m0 The Work Ahead
        p(contenteditable=true) Gain insights to master today’s, and tomorrow’s, digital economy.
      .card-divider.bg-transparent.pt0.text-right.z1
        hr.mt0.mb1.opacity-50
        .grid-x.grid-padding-x.expanded.align-middle
          .cell.flex-container.align-right
            h5.anim-icon
              a.text-normal(href="#")
                i.arrow-right.fw600
                .anim-text View
  mixin boxBlack
    .card.gradient-overlay-black-full(style="background: url(https://source.unsplash.com/R3pUGn5YiTg) no-repeat; background-size: cover;")
      .card-section.pt2.medium-pt5.z1
        h6.m0.text-primary-light The Work Ahead
        p(contenteditable=true) Gain insights to master today’s, and tomorrow’s, digital economy.
      .card-divider.bg-transparent.pt0.text-right.z1
        hr.mt0.mb1.opacity-50
        .grid-x.grid-padding-x.expanded.align-middle
          .cell.flex-container.align-right
            h5.anim-icon
              a.text-normal(href="#")
                i.arrow-right.fw600
                .anim-text View

  mixin latestThinkingTile
    .card
      .mbn3.mt1.z1
        .label.text-caps
          i.file-acrobat.mr-half
          | Whitepapers
      .lt-header-image.gradient-overlay-white
        img.object-fit-cover(src="https://source.unsplash.com/R3pUGn5YiTg" style="height: 100px;")
      .card-section.pt0
        h5 The Work Ahead
      .card-section
        p(contenteditable=true) Gain insights to master today’s, and tomorrow’s, digital economy.
        a.small.button.arrow.m0 LEARN MORE
      .card-divider.bg-transparent.pt0
        //- hr.mt0.mb1.opacity-50
        .grid-x.align-middle.w100
          .small-6.large-7.cell
            h6.m0
              a.mr1(href="#")
                i.email.fw600.text-gray-medium.hover-green
              a.mr1(href="#")
                i.logo-twitter-bird.fw600.text-gray-medium.hover-green
              a.mr1(href="#")
                i.logo-facebook.fw600.text-gray-medium.hover-green
              a(href="#")
                i.logo-linkedin.fw600.text-gray-medium.hover-green
          .cell.auto.text-right
            h5.anim-icon
              a.text-normal(href="#")
                i.download.fw600
                .anim-text Download
            h5.anim-icon
              a.text-normal(href="#")
                i.arrow-right.fw600
                .anim-text View

  mixin latestThinkingTile-primary
    .card.bg-primary
      .mbn3.mt1.z1
        .label.text-caps
          i.file-acrobat.mr-half
          | Whitepapers
      .lt-header-image.gradient-overlay-primary
        img.object-fit-cover(src="https://source.unsplash.com/R3pUGn5YiTg" style="height: 100px;")
      .card-section.pt0
        h5 The Work Ahead
      .card-section
        p(contenteditable=true) Gain insights to master today’s, and tomorrow’s, digital economy.
        a.small.button.arrow.m0 LEARN MORE
      .card-divider.bg-transparent.pt0
        //- hr.mt0.mb1.opacity-50.white
        .grid-x.align-middle.w100
          .cell.small-6.large-7
            h6.m0
              a.mr1(href="#")
                i.email.fw600.hover-green
              a.mr1(href="#")
                i.logo-twitter-bird.fw600.hover-green
              a.mr1(href="#")
                i.logo-facebook.fw600.hover-green
              a(href="#")
                i.logo-linkedin.fw600.hover-green
          .cell.auto.text-right
            h5.anim-icon
              a.text-normal.text-green(href="#")
                i.download.fw600
                .anim-text Download
            h5.anim-icon
              a.text-normal.text-green(href="#")
                i.arrow-solid-right.fw600
                .anim-text View

  mixin boxModule-horizontal-imageLeft
    .grid-x.bd1.mb1
      .small-12.medium-3.cell.medium-order-1.small-order-2
        img.object-fit-cover(src="https://via.placeholder.com/300x300")
      .small-12.medium-9.cell.medium-order-2.small-order-1
        .p1
          .label.text-caps.mb-half
            i.file-acrobat.mr-half
            | Whitepapers
          h5 The Work Ahead
          p(contenteditable=true) Cognizant Hungary was awarded first prize as “Best Women’s Workplace 2016” among 58 companies participating in the category of employers with more than 250 employees in the country. The survey was conducted in the summer of 2017 with 72% of Hungary’s female associates responding to the survey, and the award was handed out in December. Congratulations to Team Hungary!
          a.small.button.arrow.m0 LEARN MORE

  mixin boxModule-horizontal-imageRight
    .grid-x.bd1.mb1
      .small-12.medium-3.cell.medium-order-2.small-order-1
        img.object-fit-cover(src="https://via.placeholder.com/300x300")
      .small-12.medium-9.cell.medium-order-1.small-order-2
        .p1
          .label.text-caps.mb-half
            i.file-acrobat.mr-half
            | Whitepapers
          h5 The Work Ahead
          p(contenteditable=true) Cognizant Hungary was awarded first prize as “Best Women’s Workplace 2016” among 58 companies participating in the category of employers with more than 250 employees in the country. The survey was conducted in the summer of 2017 with 72% of Hungary’s female associates responding to the survey, and the award was handed out in December. Congratulations to Team Hungary!
          a.small.button.arrow.m0 LEARN MORE

  mixin boxModule-vertical
    .cell.cell-block
      .card
        img.object-fit-cover(src="https://via.placeholder.com/600x300" style="height: 100px;")
        .card-section
          .label.text-caps.mb-half
            i.file-acrobat.mr-half
            | Whitepapers
          h5(contenteditable=true) The Work Ahead
        .card-section
          p(contenteditable=true) Cognizant Hungary was awarded first prize as “Best Women’s Workplace 2016” among 58 companies participating in the category of employers with more than 250 employees in the country. The survey was conducted in the summer of 2017 with 72% of Hungary’s female associates responding to the survey, and the award was handed out in December. Congratulations to Team Hungary!
        .card-divider
          a.small.button.arrow.m0 LEARN MORE

  h3 Box-Module-A, B, C & D

  //- ==============================  ARROW ONLY  ==============================
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
      .cell.cell-block
        +boxprimary
      .cell.cell-block
        +boxprimary
      .cell.cell-block
        +boxprimary

      .cell.cell-block
        +boxWhite
      .cell.cell-block
        +boxWhite
      .cell.cell-block
        +boxWhite

      .cell.cell-block
        +boxBlack
      .cell.cell-block
        +boxBlack
      .cell.cell-block
        +boxBlack

  //- ==============================  WHITE GRADIENT  ==============================
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
      .cell.cell-block
        +latestThinkingTile
      .cell.cell-block
        +latestThinkingTile
      .cell.cell-block
        +latestThinkingTile

  //- ==============================  primary GRADIENT  ==============================
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
      .cell.cell-block
        +latestThinkingTile-primary
      .cell.cell-block
        +latestThinkingTile-primary
      .cell.cell-block
        +latestThinkingTile-primary

  //- ==============================  WHITE GRADIENT  ==============================
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-2.align-center
      .cell.cell-block
        +latestThinkingTile
      .cell.cell-block
        +latestThinkingTile

  //- ==============================  WHITE GRADIENT  ==============================
  .grid-container
    .grid-x.grid-padding-x.align-center
      .small-12.medium-8.cell.cell-block.flex-container.flex-dir-column
        +latestThinkingTile
      .small-12.medium-4.cell.cell-block.flex-container.flex-dir-column
        +latestThinkingTile

  //- ==============================  WHITE GRADIENT  ==============================
  .grid-container
    .grid-x.grid-padding-x.align-center
      .small-12.medium-4.cell.cell-block.flex-container.flex-dir-column
        +latestThinkingTile
      .small-12.medium-8.cell.cell-block.flex-container.flex-dir-column
        +latestThinkingTile


  .grid-container
    .grid-x.grid-padding-x
      .cell.cell-block
        +boxModule-horizontal-imageLeft

  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.align-center


      +boxModule-vertical
      +boxModule-vertical


  .grid-container
    .grid-x.grid-padding-x
      .cell.cell-block
        +boxModule-horizontal-imageRight

  hr
  h3 Spotlight test
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2
      .cell.auto.column-block
        .card.h100.bd1.relative
          img.object-fit-cover(src="https://www.cognizant.com/content/dam/Field_Marketing/future-of-industries-energy-and-utilities/Energie_article1.jpg")
          .card-section
            .label.text-bold.mb-half ARTICLE
            h5 Energy &amp; Utilities reinvented
            p.m0 The energy industry faces game-changing trends and technologies. With global warming and extreme climate conditions becoming the new normal, a collective awareness has emerged worldwide that things need to change quickly. The pace of the transition globally is too slow. The solution lies not only in embracing the power of new technologies but also in changing our economic models.
          .card-divider.pt0
            a.link-coverAll.button.small(href="https://cogniz.at/2GpZ1Vl", title="READ THE ARTICLE", target="_blank")
              | READ THE ARTICLE
              i.arrow-right
      .cell.auto.column-block
        .card.h100.bd1.relative
          .video.white-controls.inside-controls
            .video-wrapper.relative.flex-container.align-center-middle
              img.object-fit-cover(src="https://www.cognizant.com/content/dam/Field_Marketing/future-of-industries-energy-and-utilities/Energie_article1.jpg")
              h1.m0.absolute
                a
                  i.play-button
          .card-section
            .label.text-bold.mb-half VIDEO
            h5 What the next generation has to say?
            p.m0 We have started the conversation with the next generations, how they view the future and how they think your organization will stay relevant in their lives.
          .card-divider.pt0
            a.link-coverAll.button.small(href="https://youtu.be/u7ehCEU6cxQ", title="WATCH THE VIDEO", target="_blank")
              | WATCH THE VIDEO
              i.arrow-right

    .mb5