extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Industries revamp"

block content

  h1!= pageTitle

  #header-banner-3-columns-no-layered-type
  h3 Header banner, 3 columns, no layered type, v1
  div(style="background: url(https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/banking-industry-hero-banner.jpg) no-repeat; background-size: cover; background-position: center center")
    .grid-container
      .grid-x.grid-padding-x.align-middle
        .small-12.cell.py2.large-py4
          p Digital Banking
          h1 Customer focus
        .small-12.cell
          .grid-x.grid-padding-x.bg-white.opacity-80.small-up-1.medium-up-3.p1
            .cell(data-aos="fade-right" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.
            .cell(data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.
            .cell(data-aos="fade-right" data-aos-delay="400" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.

  #header-banner-3-columns
  h3 Header banner, 3 columns
  div(style="background: url(https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/utilities-landing-hero-banner.jpg) no-repeat; background-size: cover; background-position: center center")
    .grid-container
      .grid-x.grid-padding-x.align-middle
        .small-12.cell.py2.large-py4
          img(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/industry-utilities-landing-banner-headline.svg")
        .small-12.cell
          .grid-x.grid-padding-x.bg-white.opacity-80.small-up-1.medium-up-3.p1
            .cell(data-aos="fade-right" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.
            .cell(data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.
            .cell(data-aos="fade-right" data-aos-delay="400" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 Headline
                  | Percentage of top 10 utilities in North America using Cognizant digital solutions.

  #header-banner-2-columns
  hr
  h3 Header banner, 2 columns
  div(style="background: url(https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/utilities-landing-hero-banner.jpg) no-repeat; background-size: cover; background-position: center center")
    .grid-container
      .grid-x.grid-padding-x.align-middle
        .small-12.cell.py2.large-py4
          img(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/industry-utilities-landing-banner-headline.svg")
        .small-12.cell
          .grid-x.grid-padding-x.bg-white.opacity-80.p1
            .small-12.medium-4.cell(data-aos="fade-right" data-aos-anchor-placement="top-bottom")
              .media-object.medium-m0
                .media-object-section.pr-half
                  i.arrow-right-tail.text-blue
                .media-object-section.main-section
                  h6.m0 90% reduction in billing leakage
            .small-12.medium-8.cell(data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="top-bottom")
              | Thanks for real-time reporting in multiple areas, this major U.S. water utility was able to slash costs in a demanding environment.

  #header-banner-1-column
  hr
  h3 Header banner, 1 columns
  div(style="background: url(https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/utilities-landing-hero-banner.jpg) no-repeat; background-size: cover; background-position: center center")
    .grid-container
      .grid-x.grid-padding-x.align-middle
        .small-12.cell.py2.large-py4
          img(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/industry-utilities-landing-banner-headline.svg")
        .small-12.cell
          .grid-x.grid-padding-x.bg-white.opacity-80.p1
            .small-12.medium-12.cell(data-aos="fade-right" data-aos-anchor-placement="top-bottom")
              | Thanks for real-time reporting in multiple areas, this major U.S. water utility was able to slash costs in a demanding environment.

  #underlined-subheader
  hr
  h3 Underlined subheader
  .grid-container
    .grid-x.grid-padding-x
      .cell.small-12
        small.inline-block.bd-b-black-1.pb1.mb2 SHOWCASE

  #h3-extra-line-height
  hr
  h3 H3 with extra line height
  .py3.bg-primary
    .grid-container
      .grid-x.grid-padding-x
        .cell.small-12.text-white
          h3.text-normal.lh2 Increasing reliance on new energy sources along with a growing need for more efficiency requires unprecedented operational agility—and
            span.text-bold investments in digital
            | for traditional operators and new entrants alike.
          p Those that achieve environmental compliance - and build new infrastructure that is over ground, underground and passess safely through populated areas - will lead the way.

  #6x6-hover-animation
  hr
  h3 6x6 horizontal card with hover animation
  .py3.bg-primary
    .grid-container
      .grid-x.grid-padding-x.align-center
        .cell.small-11.large-12.bg-white.hover-border-grow.mb2
          .grid-x.grid-padding-x
            .cell.medium-6.small-12.px0
              .relative.w100.h100
                img.object-fit-cover.absolute(src="https://picsum.photos/id/1011/600/600", alt="segment-img1")
            .cell.medium-6.small-12.align-self-middle.p3
              h5 We’re making a difference by leveraging
              p Career Lorem ipsum dolor sit amet.
              a.small.button.arrow.m0(href="javascript:void(0)") READ THE CASE STUDY
        .cell.small-11.large-12.bg-white.hover-border-grow.mb2
          .grid-x.grid-padding-x
            .cell.medium-6.small-12.px0
              .relative.w100.h100
                img.object-fit-cover.absolute(src="https://picsum.photos/id/1011/600/600", alt="segment-img1")
            .cell.medium-6.small-12.align-self-middle.p3
              h5 We’re making a difference by leveraging today’s best digital technologies with global consultants well versed in the needs of the midstream markets.
              p Career Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis orci. Ut lorem diam.
              a.small.button.arrow.m0(href="javascript:void(0)") READ THE CASE STUDY
        .cell.small-11.large-12.bg-white.hover-border-grow.mb2
          .grid-x.grid-padding-x
            .cell.medium-6.small-12.px0
              .relative.w100.h100
                img.object-fit-cover.absolute(src="https://picsum.photos/id/1011/600/600", alt="segment-img1")
            .cell.medium-6.small-12.align-self-middle.p3
              h5 We’re making a difference by leveraging today’s best digital technologies with global consultants well versed in the needs of the midstream markets.
              p Career Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis orci. Ut lorem diam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptatibus, aspernatur? Nihil necessitatibus minus reprehenderit quos, quasi assumenda veritatis, itaque error, sapiente soluta sed velit.
              a.small.button.arrow.m0(href="javascript:void(0)") READ THE CASE STUDY
        .cell.small-11.large-12.bg-white.hover-border-grow.mb2
          .grid-x.grid-padding-x
            .cell.medium-6.small-12.px0
              .relative.w100.h100
                img.object-fit-cover.absolute(src="https://picsum.photos/id/1011/600/600", alt="segment-img1")
            .cell.medium-6.small-12.align-self-middle.p3
              h5 We’re making a difference by leveraging today’s best digital technologies with global consultants well versed in the needs of the midstream markets. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat laborum eius blanditiis ullam, numquam fugiat, autem! Necessitatibus perferendis eos laudantium aliquid! Aut exercitationem asperiores, enim.
              p Career Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et turpis orci. Ut lorem diam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptatibus, aspernatur? Nihil necessitatibus minus reprehenderit quos, quasi assumenda veritatis, itaque error, sapiente soluta sed velit.
              a.small.button.arrow.m0(href="javascript:void(0)") READ THE CASE STUDY

  #card-vertical-thirds
  hr
  h3 Card, vertical, 1/3 - 2/3
  .bg-gray-light.py3
    .grid-container
      //- .grid-x.grid-padding-x
        .cell.flex-container
          .small-order-2
            p should be 2nd
          .small-order-1
            p should be first
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        .cell.cell-block
          .small-h33.bg-primary
            .pt33.relative.object-fit-cover.overflow-hidden
              img.object-fit-cover.absolute.top(src="https://www.placehold.it/600x800")
          .small-h66.bg-red
            h5 Connected Yard
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            .align-self-bottom
              a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        .cell.cell-block.flex-container.flex-dir-column.h100
          .small-h66.bg-white.p2.small-order-2
            h5 Connected Yard
            p A mobile operations platform
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            .align-self-bottom
            a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
          .small-h33.small-order-1.w100
            .pt33.relative.object-fit-cover.overflow-hidden
              img.object-fit-cover.absolute.top(src="https://www.placehold.it/300x300")
        .cell.cell-block.flex-container.flex-dir-column.h100
          .small-h66.bg-white.p2.small-order-2
            h5 Connected Yard
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            .align-self-bottom
            a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
          .small-h33.small-order-1.w100
            .pt33.relative.object-fit-cover.overflow-hidden
              img.object-fit-cover.absolute.top(src="https://www.placehold.it/300x300")
        .cell.cell-block.flex-container.flex-dir-column.h100
          .small-h66.bg-white.p2.small-order-2
            h5 Connected Yard
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
            .align-self-bottom
            a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
          .small-h33.small-order-1.w100
            .pt33.relative.object-fit-cover.overflow-hidden
              img.object-fit-cover.absolute.top(src="https://www.placehold.it/300x300")
        .cell.cell-block
          .h100
            .small-h33
              .pt33.relative.object-fit-cover
                img.object-fit-cover.absolute.top(src="https://www.placehold.it/300x300")
            .small-h66.bg-white.p2
              h5 Connected Yard
              p A mobile operations platform that offers efficiency, control and predictability in complex yard operations. A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              //- p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        .cell.cell-block
          //- .card
            .card-image.overflow-hidden.small-h33
              img.object-fit-cover(src="https://www.placehold.it/1000x333")
            .card-section.small-h66
              h5 Connected Yard Connected YardConnected Yard
              p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              .align-self-bottom
                a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
          .small-h33
            .relative.w100.h100
              img.object-fit-cover.absolute(src="https://www.placehold.it/300x300")
          .small-h66.p2.bg-white
            .flex-container.flex-wrap.align-stretch.h100
              div
                h5 Connected Yard Connected YardConnected Yard
                p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              .align-self-bottom
                a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
        //-     .h100.relative.bg-white
        //-         .small-h33.overflow-hidden.relative.w100
        //-             img.object-fit-cover.absolute(src="https://www.placehold.it/600x1200")
        //-         .small-h66.p2
        //-             .flex-container.flex-wrap.align-stretch.h100
        //-                 div
        //-                     h5 Connected Yard
        //-                     p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
        //-                 .align-self-bottom
        //-                     a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
        //-     .h100.relative.bg-white
        //-         .small-h33.overflow-hidden.relative.w100
        //-             img.object-fit-cover.absolute(src="https://www.placehold.it/600x1200")
        //-         .small-h66.p2
        //-             .flex-container.flex-wrap.align-stretch.h100
        //-                 div
        //-                     h5 Connected Yard
        //-                     p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
        //-                 .align-self-bottom
        //-                     a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
        //-     .h100.relative.bg-white
        //-         .small-h33.overflow-hidden.relative.w100
        //-             img.object-fit-cover.absolute(src="https://www.placehold.it/600x1200")
        //-         .small-h66.p2
        //-             .flex-container.flex-wrap.align-stretch.h100
        //-                 div
        //-                     h5 Connected Yard
        //-                     p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
        //-                 .align-self-bottom
        //-                     a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION

    h3 XY Grid
    .grid-container
      .grid-x.grid-margin-x.small-up-3
        .cell
          .grid-y.medium-grid-frame
            .cell.small-4.overflow-hidden
              //- | small-4
              //- .relative.overflow-hidden.w100.h100
              //- img.object-fit-cover(src="https://www.placehold.it/1000x333")
              .pt33.relative
                img.object-fit-cover.absolute.top(src="https://www.placehold.it/1000x333")
            .cell.small-8.bg-red
              //- | small-8
              .bg-white.p2
                h5 Connected Yard Connected YardConnected Yard
                p.text-black A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
                a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION


  #card-featured-work
  hr
  h3 Card, Featured work
  .bg-gray-light.py3
    .grid-container
      .grid-x.grid-padding-x
        .cell
          .swiper
            .swiper-wrapper
              .swiper-slide
                .card
                  .card-divider
                    img(data-interchange="[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, small],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, medium],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, large]", src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg")
                  .card-section
                    p.small.text-gray-dark UTILITIES
                    h5 Digital Transformation—A Move Toward Customer Centricity
                  .card-divider
                    a.small.button.arrow.m0(href="#") READ MORE
              .swiper-slide
                .card
                  .card-divider
                    img(data-interchange="[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, small],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, medium],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, large]", src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg")
                  .card-section
                    p.small.text-gray-dark UTILITIES
                    h5 Digital Transformation—A Move Toward Customer Centricity Digital Transformation
                  .card-divider
                    a.small.button.arrow.m0(href="#") READ MORE
              .swiper-slide
                .card
                  .card-divider
                    img(data-interchange="[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, small],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, medium],[https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg, large]", src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/eu-digital-transformation-a-move-toward-customer-centricity-codex3764.jpg")
                  .card-section
                    p.small.text-gray-dark UTILITIES
                    h5 Digital Transformation—A Move Toward Customer Centricity Digital Transformation—A Move Toward Customer Centricity
                  .card-divider
                    a.small.button.arrow.m0(href="#") READ MORE
              .swiper-pagination
              .swiper-button-prev
              .swiper-button-next
        //- .cell.cell-block
          .bg-white
            .relative.w100.h100(data-equalizer-watch="50-50")
              img.absolute.object-fit-cover(src="https://www.placehold.it/300x300")
            .p2(data-equalizer-watch="50-50")
              .flex-container.flex-wrap.align-stretch.h100
                div
                  h5 Connected Yard
                  p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
                .align-self-bottom
                  a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
          .bg-white
            .relative.w100.h100(data-equalizer-watch="50-50")
              img.absolute.object-fit-cover(src="https://www.placehold.it/300x300")
            .p2(data-equalizer-watch="50-50")
              .flex-container.flex-wrap.align-stretch.h100
                div
                  h5 Connected Yard
                  p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
                .align-self-bottom
                  a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
          .bg-white
            .relative.w100.h100(data-equalizer-watch="50-50")
              img.absolute.object-fit-cover(src="https://www.placehold.it/300x300")
            .p2(data-equalizer-watch="50-50")
              .flex-container.flex-wrap.align-stretch.h100
                div
                  h5 Connected Yard Connected
                  p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
                .align-self-bottom
                  a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION
        //- .cell.cell-block
          .bg-white
            .relative.w100.h100(data-equalizer-watch="50-50")
              img.absolute.object-fit-cover(src="https://www.placehold.it/300x300")
            .p2(data-equalizer-watch="50-50")
              .flex-container.flex-wrap.align-stretch.h100
                div
                  h5 Connected Yard
                  p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
                .align-self-bottom
                  a.button.small.arrow.m0(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION

  //- hr
  //- h3 Card, vertical, 1/3 - 2/3 XY Grid
  //- .bg-gray-light.py3
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        .cell.cell-block
          .grid-y.grid-frame
            .small-5.cell
              img.object-fit-cover(src="https://www.placehold.it/200x100")
            .small-7.cell.px2.py2.bg-white
              h5 Connected Yard
              p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              a.button.small.arrow(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION

  //- hr
  //- h3 Card, vertical, 1/2 - 1/2 XY Grid
  //- .bg-gray-light.py3
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        .cell.cell-block
          .grid-y.grid-frame
            .small-6.cell
              img.object-fit-cover(src="https://www.placehold.it/200x100")
            .small-6.cell.px2.py2.bg-white
              h5 Connected Yard
              p A mobile operations platform that offers efficiency, control and predictability in complex yard operations.
              a.button.small.arrow(href="/", title="Connected Yard", target="_blank") VIEW SOLUTION

  #parallax-no-movement

  #card-tageted-solutions
  hr
  h3 Card, Targeted solutions
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2
      .cell.cell-block.flex-container
        .card
          .card-image
            img.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/E&U-targeted-solutions-UtilitiesOneEngage.jpg")
          .card-section.large-px2.large-pt2.large-pb0
            h5 Canadian O&amp;G Retailer Refines the Customer Experience
            p The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market.
          .card-divider.large-px2.large-pb2
            a.small.button.arrow(href="") READ MORE
      .cell.cell-block.flex-container
        .card
          .card-image
            img.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/E&U-targeted-solutions-UtilitiesOneEngage.jpg")
          .card-section.large-px2.large-pt2.large-pb0
            h5 Canadian O&amp;G Retailer Refines the Customer Experience
            p The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market. The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market.
          .card-divider.large-px2.large-pb2
            a.small.button.arrow(href="") READ MORE

  #card-latest-thinking
  hr
  h3 Card, Latest thinking
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-3
      .cell.cell-block.flex-container
        .card
          .card-image
            img.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/E&U-targeted-solutions-UtilitiesOneEngage.jpg")
          .card-section.large-px2.large-pt2.large-pb0
            h5 Canadian O&amp;G Retailer Refines the Customer Experience
            p The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market.
          .card-divider.large-px2.large-pb2
            a.small.arrow(href="") READ MORE
      .cell.cell-block.flex-container
        .card
          .card-image
            img.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/E&U-targeted-solutions-UtilitiesOneEngage.jpg")
          .card-section.large-px2.large-pt2.large-pb0
            h5 Canadian O&amp;G Retailer Refines the Customer Experience
            p The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market. The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market.
          .card-divider.large-px2.large-pb2
            a.small.arrow(href="") READ MORE
      .cell.cell-block.flex-container
        .card
          .card-image
            img.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/E&U-targeted-solutions-UtilitiesOneEngage.jpg")
          .card-section.large-px2.large-pt2.large-pb0
            h5 Canadian O&amp;G Retailer Refines the Customer Experience
            p The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market. The water utilities industry is evolving to meet the demands of a dynamic, highly deregulated and competitive market.
          .card-divider.large-px2.large-pb2
            a.small.arrow(href="") READ MORE

  hr
  h3 Parallax banner- no movement
  .flex-container.align-bottom(style="min-height: 500px; background: url(https://www.placehold.it/1000x200) center center / cover; background-attachment:fixed")
    .grid-container
      .grid-x.grid-padding-x
        .cell
          p.small.p1.text-white(style="background: rgba(0,0,0,0.8);") Our holistic approach to retooling for the digital age is transforming how oil and gas processing is done. Like at this top global petroleum company, where predictive analytics keeps equipment parts availability above 95%.

  #parallax-css-movement
  hr
  h3 Parallax banner with movement- CSS only
  mixin segments(title, body, link)
    .grid-x.grid-padding-x.align-middle.p1.relative.text-white
      .small-12.medium-4.large-3.cell.py1.bd-r-accent2-light-1
        h5.m0!= title
      .cell.auto.medium-pl2
        p.m0!= body
      .cell.text-right.shrink
        h5.m0
          a.text-normal.link-coverAll(href=link)
            i.arrow-right.fw600

  .py6.overflow-hidden.relative.flex-container.align-middle(style="perspective: -100px;transform: translateZ(0);transform-style: preserve-3d;")
    .small-bg-pos-bottom.bg-size-cover.bg-attach-fixed.absolute(style="top: 0;left: 0;right: 0;bottom: 0;background: url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat; transform: translateZ(-30px) scale(1.2); transform-origin: 50% 50%;")
    .grid-container
      .grid-x.grid-padding-x.relative
        .cell
          small.bd-b-black-1.pb1.mb2.inline-block DEPTH OF EXPERTISE
          h3
            span.text-black The oil & gas
            | segments we serve.
          .bg-steps
            +segments(
              "UPSTREAM",
              "Cognizant’s upstream services unlock new business value while exceeding current operational needs.",
              "#"
            )
            +segments(
              "MIDSTREAM",
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem, fugit quasi iste quaerat nobis?",
              "#"
            )
            +segments(
              "DOWNSTREAM",
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, amet!",
              "#"
            )


  //- hr
  //- h3 Parallax banner with movement- Rellax plugin
  //-
  //- .py6.relative.flex-container.align-middle.overflow-hidden
    .grid-x.grid-padding-x
      .cell
        small.bd-b-black-1.pb1.mb2.inline-block DEPTH OF EXPERTISE
        h3
          span.text-black The oil & gas
          | segments we serve.
        .bg-steps-blue
          +segments(
            "UPSTREAM",
            "Cognizant’s upstream services unlock new business value while exceeding current operational needs.",
            "#"
          )
          +segments(
            "MIDSTREAM",
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem, fugit quasi iste quaerat nobis?",
            "#"
          )
          +segments(
            "DOWNSTREAM",
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, amet!",
            "#"
          )
          +segments(
            "UPSTREAM",
            "Cognizant’s upstream services unlock new business value while exceeding current operational needs.",
            "#"
          )
          +segments(
            "MIDSTREAM",
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem, fugit quasi iste quaerat nobis?",
            "#"
          )
          +segments(
            "DOWNSTREAM",
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, amet!",
            "#"
          )
    //- img.absolute.w100.z-1.rellax(src="./images/industries-revamp/bg-segements-we-serve.jpg" data-rellax-speed="5" style="top: 0;left: 0;right: 0;bottom: 0;")
    .bg-parallax.absolute.z-1.w100
      img.object-fit-cover.rellax(src="./images/industries-revamp/bg-segements-we-serve.jpg" data-rellax-speed="-5" data-rellax-percentage="0.5")




  // =============================================================================
  // ██    ██ ██ ██████  ███████  ██████
  // ██    ██ ██ ██   ██ ██      ██    ██
  // ██    ██ ██ ██   ██ █████   ██    ██
  //  ██  ██  ██ ██   ██ ██      ██    ██
  //   ████   ██ ██████  ███████  ██████
  // =============================================================================
  #video
  hr
  h3 Video
  .industry-video(style="background: url(./images/industries-revamp/bg-segements-we-serve.jpg) center center / cover; background-attachment: fixed;")
    .grid-container
      .grid-x.grid-padding-x.py4
        .cell.small-12.medium-6.large-5
          .p3(style="background: rgba(0,0,0,0.8);")
            h3.text-white How digital is transforming the oil &amp; gas industry
            a.flex-container.align-middle.text-teal-dark(data-open="video-modal-industry")
              | PLAY VIDEO
              h3.mb0.ml-half.lh0.text-teal-dark
                i.play-button
  #video-modal-industry.reveal(data-reveal="data-reveal", data-animation-in="scale-in-up", data-animation-out="scale-out-down", role="dialog", aria-hidden="false")
    .responsive-embed.widescreen
      iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/xgtdBJuaY-Y", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
    button.close-button(data-close="", aria-label="Close modal")
      span(aria-hidden="true") &times;

  #quote
  hr
  h3 Quote section
  .quote-component.py4.bg-primary
    .grid-container
      .grid-x.grid-padding-x.align-center.collapse
        .cell.large-shrink.large-2.medium-2.small-12.text-right
          h3.m0.lh0.quote(style="transform: scale(4); transform-origin: top right") “
        .cell.large-auto.medium-8.small-12
          h3.text-white.text-normal The main challenge now is how to increase the activity level, how to do more without inflating the cost level. This is where digitalization comes in.
          .grid-x.grid-padding-x
            .cell.small-2.large-shrink
              img.rounded(src="https://www.placehold.it/60x60", width="60px", alt="Director image")
            .cell.auto
              strong.text-white Director, Cognizant Digital Business Norway
              p.text-white John Rob &Oslash;le
        .cell.large-shrink.align-self-bottom.pb1.large-2.medium-2.small-12
          h3.m0.lh0.quote(style="transform: scale(4); transform-origin: bottom right") ”
  //- hr
  //- h3 Animated hover
  //- .bg-gray-light.py3
    .grid-x.grid-padding-x.align-center-middle.small-up-1.medium-up-2.large-up-2.text-white.text-center
      .cell.cell-block
        div.flex-container.align-middle.overflow-hidden(style="background: url(./images/industries-revamp/bg-segements-we-serve.jpg) no-repeat; background-size: cover; background-position: center center;height:400px")
          .hover-reveal-trigger
            .hover-reveal-top
              small.inline-block.text-caps.text-white.bd-b-white-1.pb1.mb1 RESULTS
            .hover-reveal-middle
              h5.text-bold.m0 A Large Oil &amp; Mining Company
            .hover-reveal-bottom
              p.truncate-100
                | uses advanced analytics to optimize worker accommodations and save $4 million in one year uses advanced analytics to optimize worker accommodations and save $4 million in one year
              a.button.small.arrow.m0(href="#") Learn More
      .cell.cell-block
        div.flex-container.align-stretch(style="background: url(./images/industries-revamp/bg-segements-we-serve.jpg) no-repeat; background-size: cover; background-position: center center;height:400px")
          .hover-reveal-trigger.overflow-hidden.p1
            .hover-reveal-top
              small.inline-block.text-caps.text-white.bd-b-white-1.pb1.mb1 RESULTS
            .hover-reveal-middle
              h5.text-bold.m0 A Large Oil &amp; Mining Company
            .hover-reveal-bottom
              p.truncate-100
                | uses advanced analytics to optimize worker accommodations and save $4 million in one year uses advanced analytics to optimize worker accommodations and save $4 million in one year
              a.button.small.arrow.m0(href="#") Learn More

      .cell
        h3 2nd column

  #animated-hover
  hr
  h3 Animated hover
  .bg-gray-light.py3
    .grid-container
      .grid-x.grid-padding-x.align-stretch.small-up-1.medium-up-2.text-white.text-center(data-equalizer="headline" data-equalize-on-stack="true")
        .small-12.cell.flex-container.align-stretch
          .flex-container.align-middle.w100.hover-hide-show(style="background: url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat center center / cover;")
            .grid-x.grid-padding-x.align-self-bottom.collapse.w100.hide-on-hover.absolute( style="background:rgba(0,0,0,.5)")
              .small-12.cell.flex-container.align-center-middle(data-equalizer-watch="headline")
                h5.text-bold.m0.p1 A Large Oil &amp; Mining Company

            .show-on-hover.h100.flex-container.align-middle.px2.py6(style="background:rgba(0,0,0,.5)")
              .grid-x.grid-padding-x
                .small-12.cell
                  small.inline-block.text-caps.text-white.bd-b-white-1.pb1.mb1 RESULTS
                  h5.text-bold.m0 A Large Oil &amp; Mining Company
                .small-12.cell
                  p.truncate-100
                    | uses advanced analytics to optimize worker accom
                  a.button.small.arrow.m0(href="#") Learn More
        .small-12.cell.flex-container.align-stretch
          .flex-container.align-middle.w100.hover-hide-show(style="background: url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat center center / cover;")
            .grid-x.grid-padding-x.align-self-bottom.collapse.w100.hide-on-hover.absolute( style="background:rgba(0,0,0,.5)")
              .small-12.cell.flex-container.align-center-middle(data-equalizer-watch="headline")
                h5.text-bold.m0.p1 A Large Oil &amp; Mining Company A Large Oil &amp; Mining Company A Large Oil &amp; Mining Company

            .show-on-hover.h100.flex-container.align-middle.px2.py6(style="background:rgba(0,0,0,.5)")
              .grid-x.grid-padding-x
                .small-12.cell
                  small.inline-block.text-caps.text-white.bd-b-white-1.pb1.mb1 RESULTS
                  h5.text-bold.m0 A Large Oil &amp; Mining Company
                .small-12.cell
                  p.truncate-100
                    | uses advanced analytics to optimize worker accommodations and save $4 million in one year uses advanced analytics to optimize worker accommodations and save $4 million in one year uses advanced analytics to optimize worker accommodations and save $4 million in one year uses advanced analytics to optimize worker accommodations and save $4 million in one year
                  a.button.small.arrow.m0(href="#") Learn More

  //- hr
  //- h3 Case Studies, 2-up
  //- .py5.bg-gray-light
    h3
      span.text-black Industry
      | experience
      span.text-black matters.
    p We know your top-of-mind issues. And we know how to help.

    .grid-x.grid-padding-x.small-up-2.text-white.text-center
      .cell
        .small-bg-size-cover.flex-container.align-bottom(style="min-height: 400px; background: url(./images/industries-revamp/case-study-01.jpg) no-repeat")
          .p2.w100(style="background: rgba(0,0,0,.8)")
            h5.m0 A Large Oil & Mining Company

  #hover-slide-up
  hr
  h3 Hover slide up
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3
      .cell.cell-block
        a.card(href="#" style="background: blue url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat center center / cover;")
          .hover-slide-up
            .slide-up-section1
              h5.m0.truncate-45 Virtual Role-Based Workbench Virtual Role Based Workbench
              .slide-up-section2
                p.truncate-100.text-normal.m0
                  | uses advanced analytics to optimize worker accommodations and save $4 million in one year
                //- a.button.arrow.tiny.m0(href="#") LEARN MORE
      .cell.cell-block
        a.card(href="#" style="background: blue url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat center center / cover;")
          .hover-slide-up
            .slide-up-section1
              h5.m0.truncate-45 Virtual Role-Based Workbench Virtual Role Based Workbench
              .slide-up-section2
                p.truncate-100.text-normal.m0
                  | uses advanced analytics to optimize worker accommodations and save $4 million in one year
                //- a.button.arrow.tiny.m0(href="#") LEARN MORE
      .cell.cell-block
        a.card(href="#" style="background: blue url(https://source.unsplash.com/WLUHO9A_xik/1600x1200) no-repeat center center / cover;")
          .hover-slide-up
            .slide-up-section1
              h5.m0.truncate-45 Virtual Role-Based
              .slide-up-section2
                p.truncate-100.text-normal.m0
                  | uses advanced analytics to optimize worker accommodations and save $4 million in one year
                //- a.button.arrow.tiny.m0(href="#") LEARN MORE

  // ======================================================================
  // ██████  ███████ ██████  ███████ ██████  ███████  ██████ ████████ ██ ██    ██ ███████ ███████
  // ██   ██ ██      ██   ██ ██      ██   ██ ██      ██         ██    ██ ██    ██ ██      ██
  // ██████  █████   ██████  ███████ ██████  █████   ██         ██    ██ ██    ██ █████   ███████
  // ██      ██      ██   ██      ██ ██      ██      ██         ██    ██  ██  ██  ██           ██
  // ██      ███████ ██   ██ ███████ ██      ███████  ██████    ██    ██   ████   ███████ ███████
  // ======================================================================
  #perspectives
  hr
  h3 Perspectives
  mixin boxModule-horizontal-imageLeft(image,label,headline,body,link,button)
    .grid-x.h100&attributes(attributes)
      .small-12.medium-3.cell.medium-order-1.small-order-1
        .relative.w100.h100(style="min-height: 100px;")
          img.object-fit-cover.absolute(src=image)
      .small-12.medium-9.cell.p1.medium-order-2.small-order-2.bg-white.flex-container.flex-dir-column.align-justify
        div
          p.small.text-gray-dark!= label
          h5!= headline
          p!= body
        a.arrow.small(href=link)!= button

  mixin boxModule-horizontal-imageRight(image,label,headline,body,link,button)
    .grid-x.h100&attributes(attributes)
      .small-12.medium-3.cell.medium-order-2.small-order-1
        .relative.w100.h100
          img.object-fit-cover.absolute(src=image)
      .small-12.medium-9.cell.p1.medium-order-1.small-order-2
        p.small.text-gray-dark!= label
        h5!= headline
        p!= body
        a.arrow.small(href=link)!= button

  mixin boxModule-vertical
    .cell.medium-auto.cell-block.flex-container
      .card.medium-mb0.bd-0
        .relative.wh100(style="min-height: 300px;")
          //- img.object-fit-cover.absolute(src="https://via.placeholder.com/640x360")
          //- img.object-fit-cover.absolute(src="./images/industries-revamp/perspectives02.jpg")
          img.object-fit-cover.absolute(src="https://qapublisher.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/hfs-industry-blueprint-utility-operations-2018-excerpt-for-cognizant-thumbnail.jpg")
        .card-section
          p.small.text-gray-dark PERSPECTIVES
          h5 What Energy and Utility Companies Must Do Now to Advance Their Digital Maturity
          p Our extensive study offers insights on what energy and utilities leaders are doing to move ahead.
        .card-divider
          a.arrow.small(href="#") VIEW PERSPECTIVES


  .py5.bg-gray-light
    .grid-container
      .grid-x.grid-padding-x
        .cell
          p.small.bd-b-black-1.pb1.mb2.inline-block BUSINESS INTELLIGENCE
          h3
            span.text-black Recently published
            | insights.

    .grid-container
      .grid-x.grid-padding-x
        +boxModule-vertical
        .cell.medium-auto.flex-container.flex-dir-column.align-justify
          +boxModule-horizontal-imageLeft(
            "https://qapublisher.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/utilities-insights-codex3164.jpg",
            "COGNIZANT 20-20 INSIGHTS",
            "Enhancing the Utility Customer Experience: A Digital Framework",
            "Energy and utility companies need a strategic roadmap and a strong platform that keeps customers loyal, happy and engaged.",
            "#",
            "VIEW REPORT"
          )(class="mb1")
          +boxModule-horizontal-imageLeft(
            "https://qapublisher.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/utilities-insights-codex3195.jpg",
            "COGNIZANT 20-20 INSIGHTS",
            "Smarter QA for Smart Homes",
            "Utilities today can assure quality at speed for connected ecosystems such as the smart home. Find out how.",
            "#",
            "VIEW REPORT"
          )

